@{
    ViewBag.Title = "About";
}
    <div class="all-page-title">
        <!--Page -->
        <div class="page-info">
            <div class="container">
                <div class="inner-container">
                    <ul class="bread-crumb">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><span>About Company</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Page-->
        <div class="container text-center">
            <h1>About Company</h1>
            <p>Mauris ornare tellus nec urna tincidunt, eget posuere velit tempus.</p>
        </div>
    </div>