@{
    ViewBag.Title = "Contact";
}
<div class="all-page-title" style="background-image:url(images/pattern-4.png);">
    <!--Page -->
    <div class="page-info">
        <div class="container">
            <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    <li><span>Contact</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page-->
    <div class="container text-center">
        <h1>Contact</h1>
        <p>Mauris ornare tellus nec urna tincidunt, eget posuere velit tempus.</p>
    </div>
</div>
<div class="container">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
