
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wraper-editor">

    <div class="row mb-5">
        <div class="col-md-4">
            <p>Select Category</p>
            <select class="form-control" id="CatId" name="CatId">
                @foreach (var Cat in ViewBag.Categories)
                {
                    <option value="@Cat.Id">@Cat.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row d-flex justify-content-center modalWrapper">
        <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add new form</h4>
                        <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input type="text" id="txt-SubCategory" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="txt-SubCategory">Category</label>
                        </div>
                        <input type="hidden" id="SubCategoryId" />
                    </div>
                    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
                        <button class="btn btn-outline-primary btn-block buttonAdd" id="btnSave" data-dismiss="modal">
                            Save
                            <i class="fas fa-paper-plane ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-info btn-rounded btn-sm btnAdd" data-toggle="modal" data-target="#modalAdd">
                Add<i class="fas fa-plus-square ml-1"></i>
            </a>
        </div>

        <div class="text-center buttonEditWrapper">
            <button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal" data-target="#modalAdd"
                    disabled>
                Edit<i class="fas fa-edit ml-1"></i>
            </button>
        </div>

        <div class="text-center">
            <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal" disabled data-target="#modalDelete">
                Delete<i class="fas fa-times ml-1"></i>
            </button>
        </div>

        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Delete</h4>
                        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <p class="text-center h4">Are you sure to delete this Category?</p>
                        <input id="SubCategory-d" type="text" disabled class="form-control" />
                    </div>
                    <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                        <button type="button" class="btn btn-danger btnYesClass" id="btnYes" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-primary btnNoClass" id="btnNo" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive-lg table-hover">
        <table id="dt-basic-checkbox" class="table bg-white" width="100%">
            <thead>
                <tr>
                    <th class="th-sm"></th>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="snackbar">
        <i style="display:none" id="icon-success" class="fas fa-check text-success"> Succeeded..</i>
        <i style="display:none" id="icon-danger" class="fas fa-exclamation-triangle text-danger"> Something went wrong..</i>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var rowData;

        var table = $('#dt-basic-checkbox').dataTable({

            columnDefs: [
                {
                    orderable: false,
                    className: 'select-checkbox',
                    width: '10%',
                    targets: 0
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },

            "ajax": {
                "url": '/subcategories/GetData',
                "type": 'post',
                "data": function (d) {
                    d.CatId = $("#CatId option:selected").val();
                },
            },
            "columns": [
                { "data": "i" },
                { "data": "SubCatName" }
            ]
        });

        $('#dt-basic-checkbox').on('click', 'tbody td:first-child', function () {

            var row = this.closest('tr');

            rowData = $('#dt-basic-checkbox').DataTable().row($(this).parents('tr')).data();

            if ($(row).hasClass('selected')) {
                $('.buttonEdit').prop('disabled', true);
                $('.buttonDelete').prop('disabled', true);
            }
            else {
                $('.buttonEdit').prop('disabled', false);
                $('.buttonDelete').prop('disabled', false);
            }

        });

        $('.btnAdd').on('click', function () {
            $('#SubCategoryId').val('');
            $('#txt-SubCategory').val('').trigger('change');
        });

        $('.buttonEdit').on('click', function () {
            $('#SubCategoryId').val(rowData.SubCatId);
            $('#txt-SubCategory').val(rowData.SubCatName).trigger('change');
        });

        $('.buttonDelete').on('click', function () {
            $('#SubCategory-d').val(rowData.SubCatName);
        });

        $('#btnYes').on('click', function () {
            $.ajax({
                url: '/subcategories/DeleteData',
                type: 'POST',
                data: { Id: rowData.SubCatId },
                dataType: 'json',
                success: function (obj) {
                    if (obj.success) {
                        var x = document.getElementById("snackbar");
                        x.className = "show";
                        $('#icon-danger').hide();
                        $('#icon-success').show();
                        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                        $('#dt-basic-checkbox').DataTable().ajax.reload();
                        $('.buttonDelete').prop('disabled', true);
                        $('.buttonEdit').prop('disabled', true);

                    }
                    else {
                        var x = document.getElementById("snackbar");
                        x.className = "show";
                        $('#icon-success').hide();
                        $('#icon-danger').show();
                        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                    }
                }
            });
        });

        $('#btnSave').on('click', function () {

            var obj = {
                SubCatId: $('#SubCategoryId').val(),
                SubCatName: $('#txt-SubCategory').val(),
                CatId: $("#CatId option:selected").val(),
            };

            $.ajax({
                url: '/subcategories/SaveData',
                type: 'POST',
                data: obj,
                dataType: 'json',
                success: function (obj) {
                    if (obj.success) {
                        var x = document.getElementById("snackbar");
                        x.className = "show";
                        $('#icon-danger').hide();
                        $('#icon-success').show();
                        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                        $('#dt-basic-checkbox').DataTable().ajax.reload();
                        $('.buttonDelete').prop('disabled', true);
                        $('.buttonEdit').prop('disabled', true);
                    }
                    else {
                        var x = document.getElementById("snackbar");
                        x.className = "show";
                        $('#icon-success').hide();
                        $('#icon-danger').show();
                        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                    }
                }
            });
        });

        $("#CatId").change(function () {
            $('#dt-basic-checkbox').DataTable().ajax.reload();
        });

    </script>
}
