@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Section: Jumbotron-->
<!--<section class="card wow fadeIn teal">-->

    <!-- Content -->
    <!--<div class="card-body text-white text-center py-5 px-5 my-5">

        <h1 class="mb-4">
            <strong>Be Skilled with SkillzTest</strong>
        </h1>
        <p>
            <strong>Best & free Skills Test Website</strong>
        </p>
        <p class="mb-4">
            <strong>
                Start skill test now and know your skills level
            </strong>
        </p>
        <a href="/test" class="btn btn-outline-white btn-lg">
           Start Skill Test Now
            <i class="fas fa-angle-right ml-2"></i>
        </a>

    </div>-->
    <!-- Content -->
<!--</section>-->
<!--Section: Jumbotron-->

<hr class="my-5">