@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-5 bg-light text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Online Exam Web App Using.<br /><strong>Asp.Net Core 3.1</strong><br /><strong>JQuery</strong><br /><strong>Bootstrap</strong><br /><br />
    <a href="/" class="btn btn-outline-primary">Start Now</a>
    </p>
</div>
