@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Jumbotron -->
<div id="intro" class="p-5 text-white shadow-5 rounded-5 mb-5"
     style="background: linear-gradient(
            45deg,
            rgba(29, 236, 197, 0.7),
            rgba(91, 14, 214, 0.7) 100%);">
    <h1>Online MCQs Preperation for free</h1>
    @*<a class="btn btn-outline-white btn-lg m-2" href="@Url.Action("Index", "Exam")" role="button">Start the test</a>*@
</div>
<!-- Jumbotron -->

<section>
    <p>Online MCQs are an excellent way to prepare for your job tests because most of the job tests in Pakistan consist of MCQs.
        We provide quality content so, you can prepare better for the exam. It can also help for academic exams. </p>
        <a href="/Exam" class="btn btn-success btn-lg">Let's Get Started</a>
</section>