@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron -->
<div id="intro" class="p-5 text-center text-white shadow-5 rounded-5 mb-5"
     style="background: linear-gradient(
            45deg,
            rgba(29, 236, 197, 0.7),
            rgba(91, 14, 214, 0.7) 100%);">
    <h1 class="mb-3 h2">ETestingNow.PK</h1>
    <p class="mb-3">Best & free testing website</p>
    <a class="btn btn-outline-white btn-lg m-2" href="@Url.Action("Index", "Exam")" role="button">Start the test</a>
</div>
<!-- Jumbotron -->
