@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="section-title">
    <h2>Projects<a href="#" data-toggle="modal" data-target="#projModal"><i class="fas fa-plus-circle ml-2"></i></a></h2>
</div>

@*<div class="resume-item">
    <h4>Master of Fine Arts &amp; Graphic Design</h4>
    <h5>2015 - 2016</h5>
    <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
    <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
</div>
<br />

<div class="resume-item">
    <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
    <h5>2010 - 2014</h5>
    <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
</div>*@

<div class="modal fade" id="projModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Projects</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>