
@{
}

<div class="card mb-4">
    <div class="card-body">
        <h4>Job Title</h4> <a href="#"><i class="fas fa-plus-circle"></i></a> <hr />

        <label for="job-title">Job Title</label>
        <input type="text" name="job-title" id="job-title" class="form-control" />
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <h4>Personal Info</h4><hr />

        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" class="form-control" />

        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" class="form-control" />
    </div>
</div>
<div class="card mb-4">
    <div class="card-body">
        <h4>Education</h4><hr />

        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" class="form-control" />

        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" class="form-control" />
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>Projects</h4><hr />

        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" class="form-control" />

        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" class="form-control" />
    </div>
</div>