@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    .btn-outline-info:hover {
        color: #fff;
        /* background-color: #17a2b8; */
        /* border-color: #17a2b8; */
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    @*<li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    
        <a class="btn btn-outline-info" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user-circle mr-2"></i>Login</a>
    
}