@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PPSC - Punjab Public Service Commission - Pakistan";
    ViewData["Description"] = "PPSC (Punjab Public Service Commission) is a government of Punjab’s institution which is responsible for Building competent, efficient, professional, and ...";
    ViewData["url"] = "https://pkhive.com/ppsc";
}

<h1>@ViewData["Title"]</h1>

<p class="fs-5">PPSC (Punjab Public Service Commission) is a government of Punjab’s institution which is responsible for Building competent, efficient, professional, and responsive public services.</p>
<ol class="list-group">
    <li class="list-group-item bg-light"><a href="/ppsc-jobs"><i class="fa fa-arrow-right"></i>  Click here for PPSC Jobs</a></li>
    <li class="list-group-item bg-light"><a href="https://www.ppsc.gop.pk/(S(ymbbqyef2o1zvrtruxooiiip))/default.aspx" target="_blank"><i class="fa fa-arrow-right"></i>  Click here for latest PPSC Results</a></li>
    <li class="list-group-item bg-light"><a href="https://www.ppsc.gop.pk/(S(ymbbqyef2o1zvrtruxooiiip))/comingjobs.aspx" target="_blank"><i class="fa fa-arrow-right"></i>  Check out this link for upcoming jobs</a></li>
</ol>