@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "FPSC - Federal Public Service Commission - Pakistan";
    ViewData["Description"] = "FPSC (Federal Public Service Commission) is a government organization that is responsible for providing services to the general public of Pakistan.";
    ViewData["url"] = "https://pkhive.com/fpsc";
}

<h1>@ViewData["Title"]</h1>

<p class="fs-5">FPSC (Federal Public Service Commission) is a government organization that is responsible for providing services to the general public of Pakistan such as the recruitment of enterprising candidates for civil/federal Services. </p>

<ol class="list-group">
    <li class="list-group-item bg-light"><a href="/fpsc-jobs"><i class="fa fa-arrow-right"></i>  Click here for FPSC Jobs</a></li>
    <li class="list-group-item bg-light"><a href="https://fpsc.gov.pk/results/" target="_blank"><i class="fa fa-arrow-right"></i>  Click here for Results</a></li>
    <li class="list-group-item bg-light"><a href="https://fpsc.gov.pk/" target="_blank"><i class="fa fa-arrow-right"></i>  For other news about FPSC click here</a></li>
</ol>