@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Jumbotron -->
<div id="intro" class="p-5 text-white shadow-5 rounded-5 mb-5"
     style="background: linear-gradient(
            45deg,
            rgba(29, 236, 197, 0.7),
            rgba(91, 14, 214, 0.7) 100%);">
    <h1>Online Test Preperation Service</h1>
    @*<a class="btn btn-outline-white btn-lg m-2" href="@Url.Action("Index", "Exam")" role="button">Start the test</a>*@
</div>
<!-- Jumbotron -->

<section>
    <p>The purpose of the Online Test service is to help students and job seekers to meet their goals. 
        We provide quality content so, job seekers and students can benefit from it.</p>
        <a href="/Exam" class="btn btn-success btn-lg">Let's Get Started</a>
</section>