@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "NTS - National Testing Service - Pakistan";
    ViewData["Description"] = "NTS as Pakistan's first independent testing agency administers examinations and assessments for admission, scholarship, recruitment, and promotion purposes.";
    ViewData["url"] = "https://pkhive.com/nts";
}

<h1>@ViewData["Title"]</h1>

<p class="fs-5 mt-5">
    NTS as Pakistan's first independent testing agency administers examinations and assessments for admission, scholarship, recruitment, and promotion purposes. It is governed by the NTS Board of Directors. After 18 years of success, NTS now plays a central role in promoting merit and quality education at the university level. NTS always pursues excellence according to its core values, ensuring the quality, efficiency, reliability, accuracy, and above all reliability of the entire system in a transparent manner under strict safety measures. NTS tests and assessments are now a requirement for admission to many top public and private engineers, medical professionals, colleges, universities, and institutions, and NTS also administers assessment tests for employment in public and private organizations.
</p>
<ol class="list-group">
    <li class="list-group-item bg-light"><a href="/nts-jobs"><i class="fa fa-arrow-right"></i>  Click here for NTS Jobs</a></li>
    <li class="list-group-item bg-light"><a href="https://www.nts.org.pk/new/Allresults.php" target="_blank"><i class="fa fa-arrow-right"></i>  Click here for NTS Job Results</a></li>
    <li class="list-group-item bg-light"><a href="https://www.nts.org.pk/new/" target="_blank"><i class="fa fa-arrow-right"></i>  Check out this link for latest NTS News</a></li>
</ol>