@{
    ViewData["Title"] = "About Us";
    ViewData["url"] = "https://pkhive.com/contact";
}

<section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-header">
            <h2>About Us</h2>
            <p>
                Pkhive is a greate website for job seekers. All job types can be found in one location for job searchers.
                For your convenience, we compile a collection of the most recent job-related news and details.
                To ensure you don't miss the new chance, we also provide notifications when the new jobs are announced.
                Our goal is to make job search easier and to provide a system that can help job seekers to find their right career. So, don't miss out a job opportunity, make sure to subscribe for daily notifications about the latest jobs.
            </p>
            <p>
            </p>
        </div>
    </div>
</section>

@*<h1>About Us</h1>
<p>
    Pkhive is a greate website for job seekers. All job types can be found in one location for job searchers.
    For your convenience, we compile a collection of the most recent job-related news and details.
    To ensure you don't miss the new chance, we also provide notifications when the new jobs are announced.
</p>

<p>
    Our goal is to make job search easier and to provide a system that can help job seekers to find their right career. So, don't miss out a job opportunity, make sure to subscribe for daily notifications about the latest jobs.
</p>*@
