
<div class="row">
<div class="col-md-3"><div class="card bg-blue">
    <br />
    <br />
    <br />
    <br />
    <br />
</div></div>
<div class="col-md-9"><div class="card bg-red">
     <br />
    <br />
    <br />
    <br />
    <br />
</div></div>
</div>
